<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>OnlineShop Website</title>
<link rel="stylesheet" href="./style/style.css">
</head>
<body>
 <div class="header">
 <div class="container">  
   <div class="navbar">
    <div class="logo">
      <img src="./img/logo.jpeg" height="80px" width="125px">
    </div>
    <nav>
      <ul>
        <li><a href="./views/home.html">Home</a></li>
        <li><a href="AllProduct.html">Products</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Account</a></li>   
      </ul>  
    </nav>
   </div>
  </div>
   <div class="row">
    <div class="col-2">     
      <h1>Give Your Life<br>A New Style!</h1>
      <p>Choose your own stuff</p>
      <a href="" class="btn">Explore Now &#8594;</a>
   </div> 

   <div class="col-2">     
      <img src="./img/background.jpeg">
   </div>
   </div>
 </div>
 
 <div class="categories">
    <div class="small-container">
    <div class="row">
        <div class="col-3">
          <img src="./img/wine.webp" width="300px" height="300px">
        </div>
        <div class="col-3">
           <img src="./img/spirits.jpeg" width="300px" height="300px">
        </div>
        <div class="col-3">
           <img src="./img/beer.jpeg" width="300px" height="300px">
        </div>
      </div>     
    </div>
 </div>
 
 <div class="footer">
    <div class="container">
        <div class="row">
           <div class="footer-col-1">
              <h3>Download Our App</h3>
              <p>DOwnload App for Android an ios mobile phone.</p>
           </div>
           <div class="footer-col-2">
             <img src="./img/logo.jpeg" height="80px" width="125px">
           </div>  
           <div class="footer-col-3">
             <h3>Follow us</h3>
             <ul>
               <li>Facebook</li>
               <li>Twitter</li>
               <li>Instagram</li>
               <li>YouTube</li>
             </ul>
           </div>
        
        </div>
    
    
    
    </div>
 
 </div>
</body>
</html>